@charset "utf-8";
/* CSS Document */
#prod {
	width: 500px;
	background: #000;
	margin: 0 auto;
	border: 1px solid #000000;
	text-align: left;
	opacity:0.4; box-shadow: 8px 8px 8px #06266F; border-radius: 15px;
}
#prodWrap {
	padding: 20px;
	color:#fff;
	overflow:hidden;
}
