
ul.img-thumbs {
	z-index: 0;
	list-style: none;
	overflow: hidden;
	margin:0px;
	padding:9px 0px 9px 10px;
}
ul.img-thumbs li {
	float: left;
	color:#ffffff;
	margin-right: 20px;
	margin-bottom: 20px;
	position: relative;
	overflow: hidden;
	padding:15px;
	border:1px solid #DCDCE5;
	-webkit-shadow: rgba(0,0,0,.2) 3px 6px 6px;
    -moz-shadow: rgba(0,0,0,.2) 3px 6px 6px;
    box-shadow: rgba(0,0,0,.2) 3px 6px 6px;
}
ul.img-thumbs a {
	display: block;
	width: 300px;
	height: 240px;
	overflow: hidden;
}
.overlay {
	font-size: 12px;
	line-height: 16px;
	background: url(../../images/transparent-bg.png);
	position:absolute;
	overflow: hidden;
	top: 195px;
	left: 0;
	z-index: 5;
	width: 230px;
	height: 250px;
	padding: 5px 20px 20px 20px;
	border-top:1px solid #080808;
	border-right:1px solid #080808;
	-webkit-border-radius: 0 12px 0 0;
	-moz-border-radius: 0 12px 0 0;
	border-radius: 0 12px 0 0;
}
.overlay p {
	padding-bottom: 0px;
}
.overlay h1 {
	font-family: 'Oswald', Arial, sans-serif;
	font-size: 22px;
	color: #FF7400;
	font-weight: normal;
	margin-bottom: 10px;
	line-height:22px;
}
ul.img-thumbs li .zoom{
	padding: 5px;
	display: block;
	width: 20px;
	height: 20px;
	position: absolute;
	bottom: 10px;
	right: 10px;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
}
ul.img-thumbs li .zoom {
	background: url(../../images/zoom-icon.png) center no-repeat #FF7400;
}
ul.img-thumbs li .zoom:hover{
	background-color: #FF5700;
}
