.RedDanioCMS #mainContent{zoom:1;}*img{border:none;}.RedDanioCMS #hBanner{overflow:hidden;}.RedDanioCMS #tabs{margin-top:5px;}.RedDanioCMS #tabs form{margin:0;}.RedDanioCMS #topContent{padding-top:0;}.RedDanioCMS #progress{overflow:hidden;border-radius:0;}