@charset "utf-8";
/* CSS Document */
.RedDanioCMS #container {
	/*background-size: 50px 50px;
	-pie-background: linear-gradient( #006699, #ffffff );*/
}
.RedDanioCMS #mainContent { zoom: 1; }
/* the above proprietary zoom property gives IE the hasLayout it needs to avoid several bugs */

*img { border:none; }

.RedDanioCMS #hBanner { overflow:hidden; }

.RedDanioCMS #tabs { margin-top:5px; }

.RedDanioCMS #tabs form { margin:0; }

.RedDanioCMS #topContent { padding-top:0; }

/* Progress Bar */
.RedDanioCMS #progress {
	overflow:hidden;
	border-radius:0;
}