    @charset "utf-8";
    /* CSS Document */

    #rounded-corner {
        font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
        font-size: 12px;
        margin: 15px 0;
        text-align: left;
        border-collapse: collapse;
        width:100%;
    }
    #rounded-corner thead th.rounded-company {
        background: url(../../images/table-images/left.png) #b9c9fe  left -1px no-repeat;
        text-align:center;
    }
    #rounded-corner thead th.rounded-q4 {
        background: url(../../images/table-images/right.png) #b9c9fe right -1px no-repeat;
        text-align:center;
    }
    #rounded-corner th {
        padding: 8px;
        font-weight: normal;
        font-size: 12px;
        color: #039;
        background: #b9c9fe;
        text-align:center;
    }
    #rounded-corner td {
        padding: 8px;
        border: 1px solid #fff;
        color: #669;
    }

    .odd {
        background: #e8edff;
    }

    .even {
        background:#F2F2F2;
    }

    #rounded-corner tfoot td.rounded-foot-left {
        background: #e8edff url(../../images/table-images/botleft.png) left bottom no-repeat;
        border:none;
    }
    #rounded-corner tfoot td.rounded-foot-right {
        background: #e8edff url(../../images/table-images/botright.png) right bottom no-repeat;
        border:none;
    }
    #rounded-corner tbody tr:hover td {
        background: #d0dafd;
    }
    /** button **/
    #rounded-corner .edit {
        width:20px;
        height:20px;
        background:url(../../icons/edit.png) no-repeat;
        display:inline-block;
        text-decoration:none;
    }
    #rounded-corner .hapus {
        width:20px;
        height:20px;
        background:url(../../icons/hapus.png) no-repeat;
        display:inline-block;
        text-decoration:none;
    }
    #rounded-corner .atur {
        width:20px;
        height:20px;
        background:url(../../icons/atur.png) no-repeat;
        display:inline-block;
        text-decoration:none;
    }
    #rounded-corner .atur-anak {
        width:20px;
        height:20px;
		background:url(../../icons/detail.png) no-repeat;
		display:inline-block;
        text-decoration:none;
    }
    #rounded-corner .dis_hapus {
        width:20px;
        height:20px;
        background:url(../../icons/mati-hapus.png) no-repeat;
        display:inline-block;
        text-decoration:none;
    }
    #rounded-corner .dis_edit {
        width:20px;
        height:20px;
        background:url(../../icons/mati-edit.png) no-repeat;
        display:inline-block;
        text-decoration:none;
    }
    #rounded-corner .dis_atur{
        width:20px;
        height:20px;
        background:url(../../icons/mati-atur.png) no-repeat;
        display:inline-block;
        text-decoration:none;
    }
    #rounded-corner .dis_atur-anak {
        width:20px;
        height:20px;
        background:url(../../icons/mati-detail.png) no-repeat;
        display:inline-block;
        text-decoration:none;
    }
    #rounded-corner .edit:hover, #rounded-corner .edit:focus {
        background:url(../../icons/hover-edit.png) no-repeat;
    }
    #rounded-corner .hapus:hover, #rounded-corner .hapus:focus {
        background:url(../../icons/hover-hapus.png) no-repeat;
    }
    #rounded-corner .atur:hover, #rounded-corner .atur:focus{
        background:url(../../icons/hover-atur.png) no-repeat;
    }
    #rounded-corner .atur-anak:hover, #rounded-corner .atur-anak:focus{
        background:url(../../icons/hover-detail.png) no-repeat;
    }
    /** up down icons **/
    #rounded-corner .dis_rdown {
        width:20px;
        height:20px;
        background:url(../../icons/mati-attribute.png) no-repeat;
        display:inline-block;
        text-decoration:none;
    }
    #rounded-corner .dis_rup {
        width:20px;
        height:20px;
        background:url(../../icons/mati-attribute.png) no-repeat;
        display:inline-block;
        text-decoration:none;
    }
    #rounded-corner .rdown:hover, #rounded-corner .rdown:focus {
        background:url(../../icons/hover-r-down.png) no-repeat;
    }
    #rounded-corner .rup:hover, #rounded-corner .rup:focus {
        background:url(../../icons/hover-r-up.png) no-repeat;
    }
     #rounded-corner .rdown {
        width:20px;
        height:20px;
        background:url(../../icons/r-down.png) no-repeat;
        display:inline-block;
        text-decoration:none;
    }
    #rounded-corner .rup {
        width:20px;
        height:20px;
        background:url(../../icons/r-up.png) no-repeat;
        display:inline-block;
        text-decoration:none;
    }

    /** lanjut icons **/
    #rounded-corner .lanjut {
        width:20px;
        height:20px;
        background:url(../../icons/lanjut.png) no-repeat;
        display:inline-block;
        text-decoration:none;
    }
    #rounded-corner .dis_lanjut {
        width:20px;
        height:20px;
        background:url(../../icons/mati-lanjut.png) no-repeat;
        display:inline-block;
        text-decoration:none;
    }
    #rounded-corner .lanjut:hover, #rounded-corner .lanjut:focus {
        background:url(../../icons/hover-lanjut.png) no-repeat;
    }

    /** FORM INPUT, TEXTAREA, SELECT elements **/
     form, button {
        border:0;
        margin:0;
        padding:0;
    }
    .spacer {
        clear:both;
        height:1px;
    }
    .myform {
        margin:10px auto;
        width:600px;
        padding:14px;
    }
    /* ----------- stylized ----------- */
    #stylized {
        border:solid 2px #b7ddf2;
        background:#ebf4fb;
    }
    #stylized h1 {
        font-size:14px;
        font-weight:bold;
        margin-bottom:8px;
    }
    #stylized p {
        font-size:11px;
        color:#666666;
        margin-bottom:20px;
        border-bottom:solid 1px #b7ddf2;
        padding-bottom:10px;
    }
    #stylized .error {
        text-align:right;
        color:#FF3366;
        font-size:10px;
        padding:0;
        margin-bottom:10px;
        border-bottom:1px solid #FF3366;
    }
    #stylized label {
        display:block;
        font-weight:bold;
        text-align:left;
        width:140px;
        float:left;
    }
    #stylized .small {
        color:#666666;
        display:block;
        font-size:9px;
        font-weight:normal;
        text-align:left;
        width:140px;
    }
    #stylized input[type="text"], #stylized input[type="password"], #stylized input[type="file"], #stylized textarea {
        float:left;
        font-size:12px;
        padding:4px 2px;
        border:solid 1px #aacfe4;
        width:440px;
        margin:2px 0 20px 10px;
    }
    #stylized textarea {
		
    }
    #stylized select {
        float:left;
        font-size:12px;
        padding:4px 2px;
        border:solid 1px #aacfe4;
        width:auto;
        margin:2px 0 20px 10px;
    }
    #stylized button {
        clear:both;
        margin-left:150px;
        width:125px;
        height:31px;
        background:#666666;
        text-align:center;
        line-height:31px;
        color:#FFFFFF;
        font-size:11px;
        font-weight:bold;
    }

    #stylized button.btn-aksi {
		right:3.5%;top:5%;position:absolute;
    }

    #stylized button.ganti {
		float:right;margin-right:1%;background:#2A842A;
    }

    #stylized button.batalGanti {
		float:right;margin-right:1%;background:#A52A2A;
    }

    #stylized button.ptampilFoto {
		float:right; background:#AD2453; margin:0 1% 10px 0;
    }

    #stylized button.ptambahFoto {
		float:right; background:#1AA11A; margin:0;margin-right:1%
    }

    #list_img { margin-bottom:10px; display:none; }

    #stylized div.imgProdbox {
		margin-top:-40px; padding-right:28px; float:right; width:80%;
    }

    div#addinput {
        float:left;width:440px; margin-top:-30px; margin-left:10px;
        
    }
    div#addinput p {
        width:440px;height:22px;
        margin-bottom:5px;
        padding-bottom:10px;
    }
    div#addinput input[type="file"] {
        width:400px;
        margin:2px 10px 5px 0;
        padding:4px 2px;
    }

    a#addNew {
        background:url(../../icons/icon-tambah.png) no-repeat;
        display:inline-block;
        width:20px;
        height:20px;
        margin-top:10px;
        text-decoration:none;
        opacity:0.7;
    }

    a.remNew {
        background:url(../../icons/icon-hapus.png) no-repeat;
        display:inline-block;
        width:20px;
        height:20px;
        margin-top:10px;
        text-decoration:none;
        opacity:0.7;
    }

    a.remNew:hover,a#addNew:hover { opacity:1; }

    div.kelist {
		width:105px; background:#4C4C84; padding:8px; position:absolute; left:3.5%;top:5%; text-align:center;
    }
    a.txtkelist {
		color:#FFFFFF;text-decoration:none;font-weight:bold;font-size:10px;
    }

    .flash-info {
		padding:1%;margin:10px auto;border:1px solid #63EE00;background:#FFEF7F;text-align:center;
    }

    .flash-error{
		padding:1%;min-width:848px;margin:10px auto;border:1px solid #E6E6FA;background:#A52A2A;color:#FFFFFF;
    }

    .flash-warning{
		padding:1%;min-width:848px;margin:10px auto;border:1px solid #68FFDE;background:#F4490A;color:#FFFFFF;
    }


#aturAppDialog{ overflow:hidden }

.myformIframe {
        margin:10px auto;
        width:95%;
        padding:14px;
    }

.scrollup{z-index:100;width:38px;height:38px;cursor:pointer;position:fixed;bottom:2px;right:2px;display:none;border:1px solid #E5E5E5;border-radius:2px;background:#FFA500;color:#FFFFFF;font-weight:bold}
.scrollup:hover { background:#FFBB3F;color:#F4F4F4; }

/*ui edit*/
.ui-tooltip {
    font-size:10px;
    background:#362C2C;
    color:#E6E6FA;
}
.editbox{display:none;width:50px;text-align:center;font-size:11px}
.editbox2,.selectbox{display:none;width:130px;text-align:left;font-size:11px}
.ui-dialog-titlebar {font-size:12px}
.ui-dialog .ui-dialog-buttonpane{padding:0}
.ui-dialog .ui-dialog-content{padding:.5em}
.ui-tabs{overflow:auto;position:relative;padding:.2em;zoom:1}
#rounded-corner .btsJudul{border-top:1px dotted #157EE4;width:100%;height:3px;margin-top:3px}
.error{text-align:right;color:#FF3366;font-size:10px;padding:0;margin-bottom:10px;border-bottom:1px solid #FF3366}
.kiri { text-align: left;}
h5.infoErr { color:#F72503;padding-bottom:10px;border-bottom:1px solid #F7A703 }

/* Btn toolbar Keluar */
span#toolbar { padding:12px 2px 11px 2px; font-size:11px; }
span#tombol, .tombol { padding:10px 2px 8px 2px; font-size:10px; }
span#toolbar-tema { padding: 8px 1px; font-size:11px; }

/* Dashboard */
.chart_container_centered{text-align:center;height:350px;margin:10px auto}
.ui-tabs{overflow:auto;position:relative;padding:.2em;zoom:1}
a.lnk_pintas { text-decoration:none; }
a.lnk_pintas span:hover { color:#176EA9 }
.ui-widget .ui-widget-content .pintasan { float:left;margin:5px 10px 5px 0;padding:5px }
.ui-widget .ui-widget-content .pintasan:hover { background-color:#43B5F0;border-color:#176EA9 }
