body {font:13px/18px Arial, Helvetica, 'Nimbus Sans L', sans-serif;}

li p {
	font-size:13px;
	line-height:18px;
}

input, textarea {font:13px/18px "Droid Sans", Helvetica, "Nimbus Sans L", sans-serif;}

code {font:13px/18px Arial, Helvetica, 'Nimbus Sans L', sans-serif;}

h1 {font:36px/42px "Open Sans", Helvetica, "Nimbus Sans L", sans-serif;}

h2 {font:800 32px/36px "Open Sans", Helvetica, "Nimbus Sans L", sans-serif;}

h3,
.sitemap > li > a {font:14px/24px "Open Sans", Helvetica, "Nimbus Sans L", sans-serif;}

h4, 
#sidebar .widgettitle {font:18px/24px "Open Sans", Helvetica, "Nimbus Sans L", sans-serif;}

h5 {font:italic 18px/24px "Open Sans", Helvetica, "Nimbus Sans L", sans-serif;}

h6,
.portfolio_inner .hover_effect .post_category a,
.sitemap > li > ul > li > a,
.cms_archive li {font:italic 14px/18px "Open Sans", Helvetica, "Nimbus Sans L", sans-serif;}

h6 {margin:15px 0 5px 0;padding:0;font-wight:300;}

small, 
abbr {font:12px/18px Arial, Helvetica, 'Nimbus Sans L', sans-serif;}

blockquote, 
q, 
.format-aside .entry-content {font:italic 18px/24px "Open Sans", Helvetica, "Nimbus Sans L", sans-serif;}

q:after, blockquote:after {font-family:"Open Sans", Helvetica, "Nimbus Sans L", sans-serif;}

span.dropcap,
span.dropcap2 {font-family: "Open Sans", Helvetica, "Nimbus Sans L", sans-serif;}

.button, 
.button_medium, 
.button_large, 
.comment-reply-link,
.tabs li a,
.cmsms_comments {font-family:"Open Sans", Helvetica, "Nimbus Sans L", sans-serif;}

#navigation > li > a {font:600 14px/20px "Open Sans", Helvetica, "Nimbus Sans L", sans-serif;}

#navigation ul li a {font:600 13px/20px "Open Sans", Helvetica, "Nimbus Sans L", sans-serif;}


/* Colors */

/* ---------------------------------------------- Content Color */

 
a:hover,
.jp-playlist-current a,
.wp-pagenavi a,
.cmsmsLike span {color:#1BAACF;}

input, 
textarea {color:#808080;}

.cmsmsLike {background-color:#cccccc;}

.cont_nav,
.cont_nav a {color:#ffffff;}

/* ---------------------------------------------- Navigation Color */

#navigation > li > a {
	background-color:#313131;
	color:#ffffff;
}

.nav_wrap_inner.navi_scrolled {background-color:#313131;}

#navigation ul li a {
	background-color:#313131;
	color:#838383;
}

#navigation > li > ul {background-color:#313131;}

#navigation ul li.current_page_item > a,
#navigation ul li > a:hover,
#navigation ul li:hover > a {
	background-color:#252525;
	color:#ffffff;
}

/* ---------------------------------------------- Buttons Colors */

.cmsmsLike:hover, 
.resp_navigation.active,
.widget_custom_popular_portfolio_entries .cmsms_content_slider_parent ul.cmsms_slides_nav li.active a, 
.widget_custom_popular_portfolio_entries .cmsms_content_slider_parent ul.cmsms_slides_nav li:hover a,
.widget_custom_testimonials_entries .cmsms_content_slider_parent ul.cmsms_slides_nav li.active a, 
.widget_custom_testimonials_entries .cmsms_content_slider_parent ul.cmsms_slides_nav li:hover a,
.tp-bullets.simplebullets .bullet:hover, 
.tp-bullets.simplebullets .bullet.selected,
#slide_top {background-color:#ff9108;}

/* ---------------------------------------------- Headings Colors */

h1.produk {margin:2px auto;behavior:url(/PIE.htc);border-radius:5px;background:#FFA500;color:#F6F6F6;padding:6px;text-align:left;text-transform:uppercase;font:800 16px/24px "Open Sans", Helvetica, "Nimbus Sans L", sans-serif;}

h1.blog {color:#FF9400;text-shadow:1px 2px 1px #D3A200;text-align:right}

h1.album {font:28px/30px "Open Sans", Helvetica, "Nimbus Sans L", sans-serif;color:#00A8FF;text-shadow:1px 1px 0 #C4DCFF;font-style:italic;}

h1.video {margin:0;behavior:url(/PIE.htc);border-radius:5px;background:#00A8FF;color:#F6F6F6;padding:6px;text-align:left;text-transform:uppercase;font:800 20px/30px "Open Sans", Helvetica, "Nimbus Sans L", sans-serif;}

h2 {color:#0076FF;}

h3 {color:#E6E6FA;}

h4 {color:#0A9CF9;}

h5 {color:#565656;}

h6,
.portfolio_inner .entry-title a {color:#565656;}

.color_2, 
q:before, 
blockquote:before, 
q, 
blockquote,
.tog,
.tog:hover,
.tabs li a,
.tour li a {color:#565656;}

/* ---------------------------------------------- Links Colors */

a, 
.color_3,
.post footer .published,
.post .entry-title a:hover,
.post.format-link .entry-title a,
.cmsmsLike:hover span,
.portfolio_inner .entry-title a:hover {color:#3B8CBE;}

a { font-family: "DejaVu Sans", Helvetica, "Nimbus Sans L", sans-serif; }

ul.cmsms_slides_nav li.active a,
ul.cmsms_slides_nav li:hover a,
span.dropcap2,
.tog:hover .cmsms_plus, 
.tog.current .cmsms_plus,
.tour li.current .cmsms_plus,
.tour li a:hover .cmsms_plus,
.cmsms_comments,
.wp-pagenavi > span.current,
.wp-pagenavi a:hover,
.portfolio_inner .hover_effect {background-color:#ff9108;}

.tabs li a.current {background:#ff9108;}

input[type="text"]:focus,
textarea:focus,
select:focus,
#bottom input:focus, 
#bottom textarea:focus, 
#bottom select:focus,
.tabs > li a.current, 
.wp-pagenavi > span.current,
.wp-pagenavi a:hover {
	border-color:#ff9108;
}

/* ---------------------------------------------- Slider colors */

a.cmsms_close_video:hover {background-color:#ff9108;}

.slideCaptionInnerBlock {
	background:#000000;
	background:rgba(0, 0, 0, .7);
}

.responsiveSlider, 
.responsiveSlider h1, 
.responsiveSlider h2, 
.responsiveSlider h3, 
.responsiveSlider h4, 
.responsiveSlider h5, 
.responsiveSlider h6 {color:#ffffff;}

.responsiveSlider h1 {
	font-size:30px;
	line-height:36px;
}

/* ---------------------------------------------- Revolution Slider */

.fullwidthbanner h1 {
	font:36px/36px "Open Sans", Helvetica, "Nimbus Sans L", sans-serif;
	color:#3a3a3a;
}

.fullwidthbanner h2 {
	font:800 36px/36px "Open Sans", Helvetica, "Nimbus Sans L", sans-serif;
	color:#3a3a3a;
}

.fullwidthbanner h3 {font:800 72px/72px "Open Sans", Helvetica, "Nimbus Sans L", sans-serif;}

/* ---------------------------------------------- Bottom and Footer Colors */

#bottom, 
#bottom a:hover {color:#817e75;}

#bottom h1 {color:#ffffff;}

#bottom h2 {color:#ffffff;}

#bottom h3 {color:#ffffff;}

#bottom h4 {color:#ffffff;}

#bottom h5 {color:#ffffff;}

#bottom h6 {color:#ffffff;}

#bottom .color_2 {color:#ffffff;}

#footer,
#footer a {color:#808080;}


/* ---------- Small Monitor (Note: Design for a width less than 1024px) ---------- */

@media only screen and (max-width: 1023px) {
	
	.responsiveSlider h1 {
		font-size:1.5em;
		line-height:1.2em;
	}
	
	.portfolio_inner .hover_effect .post_category a {font-size:.9em;}
	
	.portfolio_inner .hover_effect .entry-title {font-size:1.1em;}
	
}

/* ---------- Small Tablet & Mobile (Note: Design for a width less than 541px) ---------- */

@media only screen and (max-width: 540px) {

	.responsibe_block_inner {border-color:#ff9108;}
	
	#navigation > li > ul {background:none;}
	
	#navigation > li > a,
	#navigation ul li a{
		background-color:#ffffff;
		color:#3c3c3c;
		font-weight:normal;
		font-style:italic;
	}
	
	#navigation ul li.current_page_item a, 
	#navigation ul li a:hover, 
	#navigation ul li:hover > a {
		background-color:#fcfcfc;
		color:#3c3c3c;
	}
	
}

hr {
	height:2px; border:none; color:#FFCE0A; background-color:#FFCE0A; width:80%; text-align:center;
	-webkit-shadow: rgba(226,229,8,.2) 3px 5px 5px;
	-moz-shadow: rgba(226,229,8,.2) 3px 5px 5px;
	box-shadow: rgba(226,229,8,.2) 3px 5px 5px;
	}
