@charset "utf-8";

body{font:80% Verdana,Arial,Helvetica,sans-serif;background:url(../images/bg.png) repeat;margin:0;padding:0;text-align:center;color:#4D4D4D}
a{color:#D5183D;text-decoration:none}
a:hover{color:#D51884;text-decoration:underline}
.i4nCMS #hBanner{position: relative;width:100%;height:400px;margin-bottom:20px;overflow:hidden;background-color: #003399;box-shadow:0 2px 5px 0 #000;-moz-box-shadow:0 2px 5px 0 #000;-webkit-box-shadow:0 2px 5px 0 #000}
/*Slide*/
.i4nCMS #wrapSlide {position: relative; left: 50%; width: 5000px; text-align: center; margin-left: -2500px;}
.i4nCMS #slider1_container {position: relative; margin: 0 auto;top: 0px; left: 0px; width: 1100px; height: 400px;background: url(../images/slide_bg.jpg) top center no-repeat;}
/* End Slider */
.i4nCMS #container{width:85%;background:#F9F9F9;margin:0 auto;border:1px solid #2C2525;text-align:left;box-shadow:0 2px 5px 0 #104375;-moz-box-shadow:0 2px 5px 0 #4D4D4D;-webkit-box-shadow:0 2px 5px 0 #104375}
.i4nCMS #header{background:#003399;border-bottom:1px solid #1B1B1B;padding:0 10px}
.i4nCMS #header h1{margin:0;padding:10px 0;color:#B81E07}
.i4nCMS #topContent{width:100%;position:relative;background:#1F1A1A;border-top:1px solid #646464;padding-top:5px;padding-bottom:5px;min-height:150px;behavior:url(/PIE.htc);border-bottom-left-radius:10px;-moz-border-bottom-left-radius:10px;border-bottom-right-radius:10px;-moz-border-bottom-right-radius:10px;box-shadow:0 1px 3px 1px #1B1B1B;-moz-box-shadow:0 1px 3px 1px #1B1B1B;-webkit-box-shadow:0 1px 3px 1px #1B1B1B}
.i4nCMS #topForm{width:23%;float:left;margin-left:10px}
.i4nCMS #rightTop{float:right;width:75%;}
.i4nCMS #rightTop #topMenu{padding:5px 10px 15px 5px;float:right;margin-left:2%}
.i4nCMS #rightTop #topBanner{margin-left:2.5%;padding:5px;height:90px;}
.i4nCMS #rightTop #topBanner a img{min-width:98%;z-index:-1}
.i4nCMS #sidebarWraper{float:right;width:24%;margin-right:10px;margin-top:46px}
.i4nCMS .sidebar{background:#F8F8F8;margin-bottom:15px;border:1px solid #4B83DA;behavior:url(/PIE.htc);border-radius:18px 0 18px 0;padding:10px;box-shadow:3px 1px 8px 2px #4B83DA;-moz-box-shadow:3px 1px 8px 2px #4B83DA;-webkit-box-shadow:3px 1px 8px 2px #4B83DA;}
.i4nCMS .sidebar h3{margin:2px;padding:3px;behavior:url(/PIE.htc);border-radius:5px;background:#CC0000;color:#E6E6FA;text-align:center;text-transform:uppercase;font-weight:bold}
.i4nCMS .sidebar p{margin-left:3px}
.i4nCMS #mainContent{margin:0 26% 0 10px;width:auto}
.i4nCMS #mainContent .wraper{width:auto;margin-top:47px;padding:10px;background:none;}
.i4nCMS #mainContent .wraper h3{margin:2px auto;behavior:url(/PIE.htc);border-radius:5px;background:#CC0000;color:#F6F6F6;padding:6px;text-align:left;text-transform:uppercase;font-weight:bold;font-size:18px}
.i4nCMS #pagination{padding:10px;margin-top:10px}
.i4nCMS #pagination strong{color:#FFF}
.i4nCMS #footer{margin-top:20px;padding:0;background:#203847}
.i4nCMS #footer div{}
.i4nCMS #footer p{margin:0;padding:10px;color:#DBEEF0}
.fltrt{float:right;margin-left:8px}
.fltlft{float:left;margin-right:8px}
.clearfloat{clear:both;height:0;font-size:1px;line-height:0}
#nav-slide{padding:10px;text-align:right;letter-spacing:5px;color:#000}
#nav-slide a,#s7 strong{font-size:10px;margin:0 2px;text-align:center;padding:3px 3px 3px 7px;border:1px solid #ccc;background:#22273C;text-decoration:none}
#nav-slide a.activeSlide{background:#21439E}
.error-txt{color:#D91212}
.cmxform input[type="text"],.cmxform input[type="password"]{width:99%}
.cmxform label{display:inline-block;width:200px;margin-top:3px;_margin-top:5px;*margin-top:5px}
.cmxform legend{padding:.5em}
.cmxform fieldset fieldset label{display:block}
.cmxform label.error{color:#D91212;font-size:10px;width:100%;margin:0}
.cmxform fieldset{padding:7px}
.cmxform button{margin-top:5px}
.cmxform button{-moz-box-shadow:inset 0 1px 0 0 #E6E6E6;-webkit-box-shadow:inset 0 1px 0 0 #E6E6E6;box-shadow:inset 0 1px 0 0 #E6E6E6;background-color:#D3D3D3;-moz-border-radius:6px;-webkit-border-radius:6px;border-radius:6px;border:1px solid #CCC;display:inline-block;color:#8B8B8B;font-family:arial;font-size:15px;font-weight:bold;padding:6px 24px;text-decoration:none;text-shadow:1px 1px 0 #E6E6E6}
.cmxform button:hover{background-color:#dfdfdf}
.cmxform button:active{position:relative;top:1px}
#progress{width:98%;height:5px;margin-bottom:5px;background-color:rgba(0,0,0,0.3);padding:1px;-webkit-border-radius:5px;-moz-border-radius:5px;-o-border-radius:5px;border-radius:5px;-webkit-box-shadow:0 1px 5px #000 inset,0 1px 0 #fff;-moz-box-shadow:0 1px 5px #000 inset,0 1px 0 #fff;-o-box-shadow:0 1px 5px #000 inset,0 1px 0 #fff;box-shadow:0 1px 5px #000 inset,0 1px 0 #fff}
div#timeout-info{display:none;margin-bottom:3px}
div#time-info{margin-bottom:3px;text-align:center}
span#lrprc{color:#06F;font-weight:bold}
#nav-slide a{color:#E5E5E5}
#nav-slide a:hover,#nav-slide a:active,#nav-slide a:focus{color:#fff}
.iframe_container{padding:5px;background:#E6E6FA;border:1px solid #BFBFBF;border-radius:3px}


/*elemen*/
.tsembunyi {display:none;}
#timeout-info {display:none; background:#FF7C7C; padding:2px;}
#profilForm { font-size:14px; }
#profilForm label { margin-top:10px; }
#profilForm label.error { margin-top:0; }
#profilForm input[type="text"], #profilForm input[type="password"]{ width:96%;line-height:20px;padding:3px; }

/* Pagination */
.pagination {
    background: #1C7DDB;
    padding: 5px;
    margin-bottom: 20px;
    border: solid 1px #c0c0c0;
    border-radius: 3px;
    box-shadow: inset 0px 0px 8px rgba(0,0,0, .5), 0px 1px 0px rgba(255,255,255, .8);
    /*width:653px;*/
}

.pagination a { text-decoration:none; color: #717171; padding: 7px; }

.page.gradient {
    display: inline-block;
    padding: 7px;
    margin-right: 4px;
    border-radius: 3px;
    border: solid 1px #c0c0c0;
    background: #e9e9e9;
    box-shadow: inset 0px 1px 0px rgba(255,255,255, .8), 0px 1px 3px rgba(0,0,0, .1);
    font-size: 10pt;
    font-weight: bold;
    text-decoration: none;
    color: #717171;
    text-shadow: 0px 1px 0px rgba(255,255,255, 1);
}

.page:hover, .page.gradient:hover {
    background: #fefefe;
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#FEFEFE), to(#f0f0f0));
    background: -moz-linear-gradient(0% 0% 270deg,#FEFEFE, #f0f0f0);
}

.page.gradient.active {
    border: 1px solid #616161;
    background: #616161;
    box-shadow: inset 0px 0px 8px rgba(0,0,0, .5), 0px 1px 0px rgba(255,255,255, .8);
    color: #f0f0f0;
    text-shadow: 0px 0px 3px rgba(0,0,0, .5);
    min-width:23px;
    text-align:center;
}

.page.gradient {
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#f8f8f8), to(#e9e9e9));
    background: -moz-linear-gradient(0% 0% 270deg,#f8f8f8, #e9e9e9);
}

.pagination.dark {
    background: #414449;
    color: #feffff;
}

.page.dark {
    border: solid 1px #32373b;
    background: #3e4347;
    box-shadow: inset 0px 1px 1px rgba(255,255,255, .1), 0px 1px 3px rgba(0,0,0, .1);
    color: #feffff;
    text-shadow: 0px 1px 0px rgba(0,0,0, .5);
}

.page.dark:hover, .page.dark.gradient:hover {
    background: #3d4f5d;
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#547085), to(#3d4f5d));
    background: -moz-linear-gradient(0% 0% 270deg,#547085, #3d4f5d);
}

.page.dark.active {
    border: none;
    background: #2f3237;
    box-shadow: inset 0px 0px 8px rgba(0,0,0, .5), 0px 1px 0px rgba(255,255,255, .1);
}

.page.dark.gradient {
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#565b5f), to(#3e4347));
    background: -moz-linear-gradient(0% 0% 270deg,#565b5f, #3e4347);
}

/* EFEK */
.wrap-efek {
	overflow: hidden;
	/*width: 710px;*/
	margin: auto;
	}
	img.efek {
	display: block;
}
.tint {
	position: relative;
	float:left;
	margin-right: 20px;
	margin-bottom: 20px;
	cursor: pointer;
	border:1px solid #D9D9ED;
	-webkit-shadow: rgba(0,0,0,.2) 3px 6px 6px;
	-moz-shadow: rgba(0,0,0,.2) 3px 6px 6px;
	box-shadow: rgba(0,0,0,.2) 3px 6px 6px;
}

.tint:before {
	content: "";
	display: block;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	-moz-transition: all .6s linear;
	-webkit-transition: all .6s linear;
	-ms-transition: all .6s linear;
	-o-transition: all .6s linear;
	transition: all .6s linear;
}

.tint:before {
	/*background: rgba(0,255,255, 0.5);*/
}

.t2:before {
	background: rgba(0,0,255, 0.5);
}

.t3:before {
	background: rgba(255,0,0, 0.5);
}

.t4:before {
	background: rgba(0,255,0, 0.5);
}

.t5:before {
	background: rgba(255,0,240, 0.5);
}

.t6:before {
	background: rgba(255,102,0, 0.6);
}

.t7:before {
	background: red;
}

.t8:before {
	background: green;
}

.t9:before {
	background: purple;
}

.t10:before {
	background: yellow;
}

.t11:before {
	background: hotpink;
}

.tint:hover:before, .t2:hover:before, .t3:hover:before, .t4:hover:before, .t5:hover:before, .t6:hover:before,
.t7:hover:before, .t8:hover:before, .t9:hover:before, .t10:hover:before, .t11:hover:before {
	background: transparent;
	border:1px solid #D9D9ED;
}

table.gridtable {
	font-family: verdana,arial,sans-serif;
	font-size:11px;
	color:#333333;
	border-width: 1px;
	border-color: #666666;
	border-collapse: collapse;
}
table.gridtable th {
	border-width: 1px;
	padding: 8px;
	border-style: solid;
	border-color: #F3F3F3;
	background-color: #CDD3F2;
	font-weight:bold;
	color: #213759;
}
table.gridtable td {
	border-width: 1px;
	padding: 8px;
	border-style: solid;
	border-color: #F3F3F3;
	color: #275EB3;
}
table.gridtable tr.satu {
	background-color: #CAF0F5;
}
table.gridtable tr.dua {
	background-color: #CDE7F2;
}
table.gridtable tr.tiga {
	background-color: #7EDBF2;
	font-size:14px;
}
table.gridtable tr.empat {
	background-color: #0CE6EF;
}

.grid_12 {
 width:100%;
}
.grid_4{
 width:32.7%;
 float:left;
 padding:3px
}


/* jssor slider direction navigator skin 07 css */
/*
.jssord07l              (normal)
.jssord07r              (normal)
.jssord07l:hover        (normal mouseover)
.jssord07r:hover        (normal mouseover)
.jssord07ldn            (mousedown)
.jssord07rdn            (mousedown)
*/
.jssord07l, .jssord07r, .jssord07ldn, .jssord07rdn
{
	position: absolute;
	cursor: pointer;
	display: block;
	background: url(../images/a03.png) no-repeat;
	overflow: hidden;
}
.jssord07l
{
	background-position: -5px -35px;
	display:none
}
.jssord07r
{
	background-position: -65px -35px;
}
.jssord07l:hover
{
	background-position: -125px -35px;
	display:none
}
.jssord07r:hover
{
	background-position: -185px -35px;
}
.jssord07ldn
{
	background-position: -245px -35px;
	display:none
}
.jssord07rdn
{
	background-position: -305px -35px;
}

/* jssor slider thumbnail navigator skin 04 css */
/*
.jssort04 .p            (normal)
.jssort04 .p:hover      (normal mouseover)
.jssort04 .pav          (active)
.jssort04 .pav:hover    (active mouseover)
.jssort04 .pdn          (mousedown)
*/
.jssort04 .w, .jssort04 .pav:hover .w
{
	position: absolute;
	width: 60px;
	height: 30px;
	border: #0099FF 1px solid;
}
* html .jssort04 .w
{
	width: /**/ 62px;
	height: /**/ 32px;
}
.jssort04 .pdn .w, .jssort04 .pav .w
{
	border-style: solid;
}
.jssort04 .c
{
	width: 62px;
	height: 32px;
	filter: alpha(opacity=45);
	opacity: .45;
	transition: opacity .6s;
	-moz-transition: opacity .6s;
	-webkit-transition: opacity .6s;
	-o-transition: opacity .6s;
}
.jssort04 .p:hover .c, .jssort04 .pav .c
{
	filter: alpha(opacity=0);
	opacity: 0;
}
.jssort04 .p:hover .c
{
	transition: none;
	-moz-transition: none;
	-webkit-transition: none;
	-o-transition: none;
}

/* Star Rating */
#ratingRes {display:none; position: relative; height : 24px;}
#ratingNvot, #ratingNrat { font-weight:bold; }
#ratingNrat { color:#FF8204; }
#ratingNvot { color:#0066FF; }
.starRating{
  display        : inline-block;
  position       : relative;
  height         : 24px;
  background     : url('../images/stars.png') repeat-x 0 0;
  vertical-align : bottom;
}
.starRating div{
  float    : left;
  position : relative;
  height   : 24px;
}
.starRating input{
  position : relative;
  z-index  : 1;
  width    : 24px;
  height   : 24px;
  margin   : 0;
  padding  : 0;
  opacity  : 0;
}
.starRating label{
  position : absolute;
  top      : 0;
  left     : 0;
  width    : 100%;
  height   : 24px;
}
.starRating span{
  display : none;
}
.starRating       input:checked       + label,
.starRating:hover input:checked:hover + label{
  background : url('../images/stars.png') repeat-x 0 -24px;
}
.starRating:hover input:checked + label{
  background : transparent;
}
.starRating:hover input:hover + label{
  background : url('../images/stars.png') repeat-x 0 -48px;
}

/*Google Style*/
/*grate.png*/
.grate {
display:inline-block;position:relative;top:1px;background:url("../images/grate.png") no-repeat 0 0;height:13px;
}
.grate.w64 {
	display:block;
	top:5px;
	width:64px
}
.grate > .fill {
	display:inline-block;position:relative;
    background: url("../images/grate.png") no-repeat 0 -15px rgba(0, 0, 0, 0);
    height: 13px;
}

/* Album Overlay */
ul.img-thumbs {
	z-index: 0;
	list-style: none;
	overflow: hidden;
	margin:0px;
	padding:9px 0px 9px 10px;
}
ul.img-thumbs li {
	float: left;
	color:#ffffff;
	margin-right: 20px;
	margin-bottom: 20px;
	position: relative;
	overflow: hidden;
	padding:15px;
	border:1px solid #DCDCE5;
	-webkit-shadow: rgba(0,0,0,.2) 3px 6px 6px;
    -moz-shadow: rgba(0,0,0,.2) 3px 6px 6px;
    box-shadow: rgba(0,0,0,.2) 3px 6px 6px;
}
ul.img-thumbs a {
	display: block;
	width: 300px;
	height: 240px;
	overflow: hidden;
}
.overlay {
	font-size: 12px;
	line-height: 16px;
	background: url(../../images/transparent-bg.png);
	position:absolute;
	overflow: hidden;
	top: 195px;
	left: 0;
	z-index: 5;
	width: 230px;
	height: 250px;
	padding: 5px 20px 20px 20px;
	border-top:1px solid #080808;
	border-right:1px solid #080808;
	-webkit-border-radius: 0 12px 0 0;
	-moz-border-radius: 0 12px 0 0;
	border-radius: 0 12px 0 0;
}
.overlay p {
	padding-bottom: 0px;
}
.overlay h1 {
	font-family: 'Oswald', Arial, sans-serif;
	font-size: 22px;
	color: #FF7400;
	font-weight: normal;
	margin-bottom: 10px;
	line-height:22px;
}
ul.img-thumbs li .zoom{
	padding: 5px;
	display: block;
	width: 20px;
	height: 20px;
	position: absolute;
	bottom: 10px;
	right: 10px;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
}
ul.img-thumbs li .zoom {
	background: url(../images/zoom-icon.png) center no-repeat #FF7400;
}
ul.img-thumbs li .zoom:hover{
	background-color: #FF5700;
}

.b1px { border:1px solid red; position:relative; min-height:40px; }

time.dt-updated { color:#F07800; font-weight:400;}

/*float*/
.fleft {float:left}
.fright {float:right}
.fnone{float:none}
.clKiri {clear:left}
.clKanan {clear:right}

.spasiAB { height:2px; }


/* V-Home dan Cari */
pre.iskrip {display:none}
.h20 {height:20px}
.posRelatif {position:relative}
.taleft{text-align:left}
.tacenter{text-align:center}
.tajust {text-align:justify}
.boxOffer{ min-height:110px }

/*margin*/
.mrgAuto {margin:0 auto}
.mrgTop8 { margin-top:8px}
.mrgTop20 { margin-top:20px}
.mrgBot8 { margin-bottom:8px}
.mrgBot10 { margin-bottom:10px}
.btslist {height:20px;clear:left}
.mrgTopMin5 {margin-top:-3px}

/*Blog*/
h4.judulBlog {margin:3px 0;padding:2px 5px;border:1px dotted #F87900;color:#FFFFFF;background: #FFA500;}
img.fotoBlog {margin: 0; padding: 2px; border: 1px solid #E6E6FA; vertical-align: top;}
.box-isi{width:50%;padding-bottom:25%;position:relative;float:left;height:105px}
.innerkontent{position:absolute;left:3px;right:3px;top:0px;padding:5px;bottom:6px;background:#E6E6FA;border:1px solid #B6D9FB}
.innerkontent:hover{background:#E3F4E6;border:1px solid #95EFD0}

/*Album*/
img.fotoAlbum {padding: 2px;vertical-align: top}
h4.tLeft {text-align:left;}
.albumBoxDetail {clear:left;text-align:left;margin-bottom:20px;border:1px solid transparent}

/*Video*/
.wrapBoxVideo {margin:0 auto;}
.noPlaylist {clear:left;height:20px;border-top:2px solid #77D9F0}
img.fotoVideo {margin: 10px; padding: 2px; border: 1px solid #BBB; vertical-align: top;}
/*Single Vid*/
#z-video {margin:20px auto; text-align:center;}


/* Partial */
#kbawah {display:none;height:200px;text-align:center;overflow:hidden} /* iklan-bawah */
#disqusBox { text-align:center;padding-top:20px }
.jdlEmbed { margin-top:-24px; margin-bottom:20px; font-size:16px; font-weight:bold; }
.btsGarisBiru {clear:left;border-top:1px solid #77D9F0;margin-top:10px;margin-bottom:10px}
/*-- Blog -- */
.blogBox {margin:0 auto; text-align:left;}
img.fotoBlog {margin: 12px; padding: 2px; border: 1px solid #BBB; vertical-align: top}
img.mediaBlog {margin: 3px; padding: 2px; border: 1px solid #BBB; vertical-align: top}