@charset "utf-8";
/* CSS Document */

/* Detail Produk */
.box-prod-detail { position:relative; margin:10px 0 20px 0; overflow:hidden; }
.box-img-prod-detail { width:320px; float:right; margin-left:5px; overflow:hidden; }
.box-warna-prod-detail { float:right; display:block; background:#DCDC9D; margin-bottom:5px; border:1px solid #FFA500; }
a.pil-warna-detail { float:right; height:15px;width:15px; border:1px solid #FFA500; margin: 4px; cursor:pointer; }
.box-img-detail { width:320px; height:240px; overflow:hidden; float:right; }
.thumbs { float:right; width:320px; clear:both; }
.box-btn-prod-detail { float:right; width:310px; text-align:center;padding: 5px 1px; font-size:11px; margin-top:11px; }
button.beli-detail {height:30px;width:180px;}
p.box-deskipsi-detail { float:left; min-width:53%; margin-top:0; font-size:14px; text-align:left; }
.deskripsi-harganormal-detail { width:130px;text-align:center;padding-top:12px;padding-bottom: 12px;border:1px solid #FF2B2B;color:#FF2B2B;font-weight:bold;font-size:14px; }
p.box-deskipsi-detail span { font-size:16px; }
/* End Detail Produk */

/* List Produk */
.box-prod-list { position:relative; display:block; margin:10px 0 20px 0; overflow:hidden; }
.box-warna-prod-list { float:right; background:#DCDC9D; margin-bottom:5px; border:1px solid #FFA500; }
a.pil-warna-list { display:block; height:15px;width:15px; border:1px solid #FFA500; margin: 4px; cursor:pointer;  }
.nav-img-list { width:136px; padding:0 4px; color:#2585E3; background:#D7DCE1; text-align:center; overflow:hidden; }
.klik-info-list {font-size:9px;line-height:16px;}
.box-deskripsi-list { float:left; width:72%; text-align:left; padding:0 10px; margin-top:-17px; }
.deskripsi-harganormal-list { color:#FF2B2B;font-weight:bold }
.box-btn-prod-list { width:330px; font-size:10px; margin-top:11px; }
button.beli-list { height:25px;width:180px; }
button.detail-list { height:25px;width:140px; }

.box-pdetail-list {border:1px solid #FFA500;border-left:none;padding-top:10px;height:330px;padding-left: 3px;}
.box-pdetail-list:hover { background:#F5F5F5; border-color:#FF7100;}
/* End List Produk */

#updateBelanja {
    margin-top:20px;
    font-size:12px;
}
#updateBelanja fieldset {
    padding:10px;
    margin-bottom:20px;
}
#updateBelanja legend {
    padding: 3px 5px;
    font-size:12px;
}
#updateBelanja input[type="text"] {
    height:14px;
    padding:3px;
    margin-top:5px;
    width:40px;
    border-radius:4px;
    -moz-border-radius:4px;
    -webkit-border-radius:4px;
}
#updateBelanja button {
    background:#6F88CF; 
    font-size:12px;
    color:#fff;
    cursor:pointer;
    padding:5px 10px;
    margin-top:20px;
    border-color:#BFBFBF;
    border-radius:8px;
    -moz-border-radius:8px;
    -webkit-border-radius:8px;
    opacity:0.7;
}
#updateBelanja button:hover {
    opacity:1;
}
#updateBelanja button#updateKeranjang {
    float:left;
}
#updateBelanja button#prosesPesan {
    float:right;
}


#pesan {
    display:block;
    margin:20px auto;
    font-size:12px;
}
#pesan fieldset {
    padding:10px;
}
#pesan legend {
    padding: 3px 5px;
    font-size:12px;
}
#pesan label {
    float:left;
    display:block;
    padding-top:5px;
    line-height: 15px;
    width:150px;
    height:40px;
    color:#2D2D2D;
}
#pesan span.small{
    font-size:9px;
    color:#6D6D6D;
}
#pesan input[type="text"] {
    float:left;
    height:20px;
    padding:5px;
    width:400px;
    font-size:14px;
}
#pesan label.lbl_small {
    width:130px;
}
#pesan input[type="text"].input_small {
    float:left;
    height:20px;
    padding:5px;
    width:80px;
}
#pesan select {
    float:left;
    height:34px;
    font-size:14px;
    padding-top:3px;
    width:150px;
}
#pesan select#provinsi {
    width:200px;
}
#pesan select#wilayah {
    width:190px;
}
#pesan textarea {
    float:left;
    height:110px;
    padding:5px;
    width:500px; 
}
#pesan button {
    background:#6F88CF; 
    color:#fff;
    font-size:12px;
    cursor:pointer;
    padding:5px 10px;
    margin-top:20px;
    border-color:#BFBFBF;
    border-radius:8px;
    -moz-border-radius:8px;
    -webkit-border-radius:8px;
    opacity:0.7;
}
#pesan button:hover {
    opacity:1;
}
#pesan button#listKeranjang{
    float:left;
}
#pesan button#bayarSekarang{
    float:right;
}
.errors {
    clear:left;
    text-align:right;
    color:#FF3366;
    font-size:10px;
    padding:0;
    margin-top:5px;
    border-bottom:1px solid #FF3366;
}
.clft {
    clear:left;
    margin-bottom:20px;
}

#pembayaran {
    display:block;
    margin:20px auto;
    font-size:12px;
}
#pembayaran fieldset {
    padding:10px;
}
#pembayaran textarea {
    height:110px;
    padding:5px;
    width:500px;
    border:none;  
}
#pembayaran button {
    background:#6F88CF; 
    color:#fff;
    font-size:12px;
    cursor:pointer;
    padding:5px 10px;
    margin-top:20px;
    border-color:#BFBFBF;
    border-radius:8px;
    -moz-border-radius:8px;
    -webkit-border-radius:8px;
    opacity:0.7;
}
#pembayaran button{
    float:right;
}
#pembayaran button:hover {
    opacity:1;
}
#metodeBayar { font-size:12px }
.logo-bayar { width: 180px;height:180px;float:left;text-align:center;padding:10px;margin-right:10px; }
#box-opsi .opsi { display:none; padding-top:20px; }
#box-notes { clear:left; padding-top:20px; }

.errors {
    text-align:right;
    color:#FF3366;
    font-size:10px;
    padding:0;
    margin-top:5px;
    border-bottom:1px solid #FF3366;
}
#info-belanja-box .info {font-size:10px;margin-top:2px;padding:2px;text-align:center;border:1px solid #63EE00;background:#FFEF7F}
#info-bayar-box .info {font-size:11px;margin-top:2px;padding:2px;text-align:center;border:1px solid #63EE00;background:#FFEF7F}
/* Mics */
.mr20 { margin-right: 20px }
#pesan label.ml40-wd130 { margin-left:40px;width:130px; }

.ui-tooltip {
    font-size:10px;
    background:#362C2C;
    color:#E6E6FA;
}
/*disabled behavior border on click*/
a,button { outline:0; }
*::-moz-focus-inner { 
  border: 0; 
}


/* Grid untuk Produk */
.grid {
	margin-left: -3%;
	max-width: 105%;
	position:relative;
}

.unit {
	display: inline-block;
	*display: inline;
	*zoom: 1;
	vertical-align: top;
	margin-left: 1%;
	margin-right: -.25em;
	/* Clearfix */
	overflow: hidden;
	*overflow: visible;
}
.span-grid {
        width: 97%;
}

.one-of-two { width: 47%; float:left; margin-left: 2%;}
.one-of-two:hover { /*background:#E6E6FA;*/ }

.one-of-three { width: 30.36%; }
.two-of-three { width: 63.666666666%; }

.one-of-four { width: 22.05%; }
.three-of-four { width: 72%; }

.one-of-five { width: 17.07%; }
.two-of-five { width: 37%; }
.three-of-five { width: 57%; }
.four-of-five { width: 77%; }
