@charset "utf-8";
/* CSS Document */

.RedDanioCMS #features_cont a:hover {
    text-decoration:underline;
    color:#3399FF;
}
h2.judul-art { text-align:left; font: 16px "Century Gothic"; margin:0; margin-top:10px; padding:0; line-height:25px; }
.artWrap {
    font: 12px "Century Gothic";
}
.artWrap p { margin-top:5px; }
.artWrap a { text-decoration:none; color:#1E90FF; }
a.features:hover {
    text-decoration:underline;
    color:#3399FF;
}
#pagination, #pagination2 { font-size:10px; }
#pagination a, #pagination2 a { background:#DADADA; color:#A52A2A; padding:6px 8px; margin-right:2px; border:1px solid #860D0D; text-decoration:none; border-radius: 3px; box-shadow: 1px 1px 1px #A52A2A; }
#pagination strong, #pagination2 strong { color:#E5E5E5; padding:6px 8px; margin-right:2px; border:1px solid #1A1A1A; background:#A52A2A; border-radius: 3px; box-shadow: 1px 1px 1px #000; }
#pagination a:hover, #pagination2 a:hover { color:#E5E5E5; border-color:#1A1A1A; background:#A52A2A; text-decoration:none; }
    
@media only screen and (max-width : 1024px) {
    #pagination {left:40px; top:14px; z-index:3600; position:fixed; }
    .artWrap { text-align:left; }
    #pagination2 {left:10px; top:70px; z-index:3600; position:fixed; }
    h2.judul-art{ margin-top:45px; }
}
@media only screen and (min-width : 1024px) {
    .artWrap { text-align:justify; }
    #pagination { margin-bottom:8px; position:relative; }
}
