@charset "utf-8";
/* CSS Document */

/** FORM INPUT, TEXTAREA, SELECT elements **/
 form, button {
	border:0;
	margin:0;
	padding:0;
}
.spacer {
	clear:both;
	height:1px;
}
.myform {
	margin:10px auto;
	width:600px;
	padding:14px;
}
/* ----------- stylized ----------- */
#tbaru {
	border:solid 2px #b7ddf2;
	background:#ebf4fb;
}
#tbaru h1 {
	font-size:14px;
	font-weight:bold;
	margin-bottom:8px;
}
#tbaru p {
	font-size:11px;
	color:#666666;
	margin-bottom:20px;
	border-bottom:solid 1px #b7ddf2;
	padding-bottom:10px;
}
#tbaru .error {
	text-align:right;
	color:#FF3366;
	font-size:10px;
	padding:0;
	margin-bottom:10px;
	border-bottom:1px solid #FF3366;
}
#tbaru label {
	display:block;
	font-weight:bold;
	text-align:left;
	width:140px;
	float:left;
}
#tbaru .small {
	color:#666666;
	display:block;
	font-size:9px;
	font-weight:normal;
	text-align:left;
	width:140px;
}
#tbaru input[type="text"], #stylized input[type="file"], #stylized textarea {
	float:left;
	font-size:12px;
	padding:4px 2px;
	border:solid 1px #aacfe4;
	width:440px;
	margin:2px 0 20px 10px;
}
#tbaru select {
	float:left;
	font-size:12px;
	padding:4px 2px;
	border:solid 1px #aacfe4;
	width:auto;
	margin:2px 0 20px 10px;
}
#tbaru button {
	clear:both;
	margin-left:150px;
	width:125px;
	height:31px;
	background:#666666;
	text-align:center;
	line-height:31px;
	color:#FFFFFF;
	font-size:11px;
	font-weight:bold;
}
button.control-button {
	width:125px;
	height:31px;
	margin-bottom:20px;
	background:#666666;
	text-align:center;
	line-height:31px;
	color:#FFFFFF;
	font-size:11px;
	font-weight:bold;
}
