<script src="../../../ckeditor/ckeditor.js" type="text/javascript"></script>
<script src="../../../SyntaxHighlighter/scripts/shCore.js" type="text/javascript"></script>
<script src="../../../SyntaxHighlighter/scripts/shAutoloader.js" type="text/javascript"></script>
<link type="text/css" rel="stylesheet" media="all" href="../../../SyntaxHighlighter/styles/shCore.css"></link>
<link type="text/css" rel="stylesheet" media="all" href="../../../SyntaxHighlighter/styles/shThemeDefault.css"></link>

<script>
var doc = document;
doc.open();
doc.write( window.opener._cke_htmlToLoad );
doc.close();
</script>

<script src="../../../load_relatif_syntaxhighlighter.js" type="text/javascript"></script>
<script>
delete window.opener._cke_htmlToLoad;
</script>
