
.ui-autocomplete{max-height:170px;overflow-y:auto;overflow-x:hidden}
* html .ui-autocomplete{height:170px}
.ui-tooltip{font-size:10px;background:#362C2C;color:#E6E6FA}
.ui-progressbar{position:relative;width:100%;margin-top:20px}
.progress-label{position:absolute;left:45%;top:4px;font-weight:bold;text-shadow:1px 1px 0 #fff}
#radio{float:right;width:142px;font-size:11px}
#box_spesial{float:left;width:260px;margin-left:20px}
#txt_spesial{float:left;width:120px;margin-top:3px;font-weight:bold;text-align:left;color:#7B97B3;background:#FFFCFC;margin-left:-10px;padding:4px;border:solid 1px #aacfe4}
#tambah-kategori{padding:6px 4px;width:20px;float:left;margin-top:3px;margin-left:6px}
#box-kode-warnaAnak,#box-kode-warnaInduk{float:left;width:35px;margin-top:1px;margin-left:2px}
input[type="text"]#kode-warna,input[type="text"]#kode-warnaInduk{width:50px;padding:3px;float:left}
.box-opsi{float:left;font-size:10px;width:150px;padding:4px;margin:2px 0 0 10px;color:#7B97B3;border:solid 1px #aacfe4}
.ui-dialog .ui-state-error{background:#B51C37;color:#F8F3F3}
.validateTips,.tipeFile{border:1px solid transparent;font-size:12px;padding:3px}
.Icon{float:left;margin-top:2px}
.info-nama{float:left;width:100%;margin-top:-15px}
input[type="text"]#nama_anak,input[type="text"]#nama_anak_en{width:250px}
input[type="text"]#kode_prod,input[type="text"]#kode_prod_anak{width:110px;margin-left:-77px}
div#addinput{float:left;width:100%;margin-top:0;margin-left:0}
div#addinput p{width:100%;height:inherit;margin-bottom:1px;padding:0}
a#addNew{float:right;margin-top:10px}
a.remNew{float:right;margin-top:10px}
.box-img{float:right;margin-left:5px;margin-bottom:5px;padding:4px;background:#E6E6FA;display:block;border:solid 1px #aacfe4}
.hps-foto{padding:3px;background:#7F7F7F;color:#FFFFFF;border:solid 1px #aacfe4;cursor:pointer}
