@charset "utf-8";
html,body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,p,blockquote,th,td{margin:0;padding:0}
img,body,html{border:0}
address,caption,cite,code,dfn,em,strong,th,var{font-style:normal;font-weight:normal}
ol,ul{list-style:none}
caption,th{text-align:left}
h1,h2,h3,h4,h5,h6{font-size:100%}
q:before,q:after{content:''}
.ext-el-mask{z-index:100;position:absolute;top:0;left:0;-moz-opacity:0.5;opacity:.50;filter:alpha(opacity=50);width:100%;height:100%;zoom:1}
body{font:80% Verdana, Arial, Helvetica, sans-serif;background:url(../images/pattern14.gif) repeat;margin:0;padding:0;text-align:center;color:#1A1A1A}
.i4nCMS #container{width:98%;background:#FDFDFD;margin:5px auto 5px auto;text-align:left;overflow:hidden;border:1px solid #37A1CC;border-radius:3px;}
.i4nCMS #header{background:url(../images/bg/patterns/gelap/pattern35.png) top repeat #6DBEE0;border-bottom:1px dotted #73B6D1;padding:0 0 10px 10px;color:#FFFFFF}
.i4nCMS #header h1{margin:0;padding:10px 0 5px 0;color:#D9321B;font-size:2em;}
.i4nCMS #topContent{width:100%;background:url(../images/pattern35.png) top repeat #EFEFEF;border-bottom:1px dotted #6AA7BF;padding-top:5px;padding-bottom:5px}
.i4nCMS #topForm{width:16%;margin-left:10px;margin-top:15px;float:left}
.i4nCMS #topForm fieldset{padding:10px}
.i4nCMS #topForm input{margin-bottom:5px}
.i4nCMS #rightTop{float:right;width:83%}
.i4nCMS #rightTop #topMenu{min-height:40px;padding:10px 10px 15px 0;float:right}
ul#menu{margin:0;padding:0;list-style-type:none;width:auto;position:relative;display:block;height:28px;text-transform:uppercase;font-size:11px;font-weight:bold;background:transparent;font-family:Helvetica,Arial,Verdana,sans-serif;border-bottom:4px solid #EB1D09;border-top:1px solid #A1ECE2}
ul#menu li{display:block;float:left;margin:0;padding:0}
ul#menu li a{display:block;float:left;color:#156DA9;text-decoration:none;padding:8px 5px 0 8px;height:24px;background:transparent}
ul#menu li a:hover{background:transparent;color:#EB1D09}
ul#menu li a.current,ul#menu li a.current:hover{color:#EB0909;text-decoration:underline;background:transparent}
.i4nCMS #rightTop #topBanner{margin-left:10%;padding:5px 10px 5px 5px;right:0}
.i4nCMS #sidebarWraper{float:right;width:210px;margin-right:10px;margin-top:20px}
.i4nCMS #sidebar1,.i4nCMS #sidebar2,.i4nCMS #sidebar3,.i4nCMS #sidebar4{background:#EBEBEB;margin-bottom:15px;border:1px solid #BFBFBF;border-radius:10px;padding:5px}
.i4nCMS #sidebar1 h3,.i4nCMS #sidebar1 p{margin-left:10px;padding-bottom:10px}
.i4nCMS #sidebar2 h3,.i4nCMS #sidebar2 p{margin-left:10px;padding-bottom:10px}
.i4nCMS #sidebar3 h3,.i4nCMS #sidebar3 p{margin-left:10px;padding-bottom:10px}
.i4nCMS #sidebar4 h3,.i4nCMS #sidebar4 p{margin-left:10px;padding-bottom:10px}
.i4nCMS #mainContent{min-height:500px;margin:0 21% 0 10px;width:auto}
.i4nCMS #footer{padding:0 10px;background:url(../images/pattern01.png) repeat #E6E6FA;color:#BFBFBF;margin-top:10px;text-align:right}
.i4nCMS #footer p{margin:0;padding:10px 0}
.fltrt{float:right;margin-left:8px}
.fltlft{float:left;margin-right:8px}
.clearfloat{clear:both;height:0;font-size:1px;line-height:0px}
.hide{display:none}
.pagination{background:url(../images/pattern35.png) top repeat #EFEFEF;padding:10px;margin-bottom:20px;border-radius:3px}
.pagination a{text-decoration:none;color:#717171;padding:7px}
.page.gradient{display:inline-block;padding:7px;margin-right:4px;border-radius:3px;border:solid 1px #c0c0c0;background:#e9e9e9;box-shadow:inset 0px 1px 0px rgba(255,255,255, .8), 0px 1px 3px rgba(0,0,0, .1);font-size:12pt;font-weight:bold;text-decoration:none;color:#717171;text-shadow:0px 1px 0px rgba(255,255,255, 1)}
.page:hover,.page.gradient:hover{background:-moz-linear-gradient(0% 0% 270deg,#FEFEFE, #f0f0f0)}
.page.gradient.active{border:1px solid #616161;background:#616161;box-shadow:inset 0px 0px 8px rgba(0,0,0, .5), 0px 1px 0px rgba(255,255,255, .8);color:#f0f0f0;text-shadow:0px 0px 3px rgba(0,0,0, .5);min-width:23px;text-align:center}
.page.gradient{background:-moz-linear-gradient(0% 0% 270deg,#f8f8f8, #e9e9e9)}
.pagination.dark{background:#414449;color:#feffff}
.page.dark{border:solid 1px #32373b;background:#3e4347;box-shadow:inset 0px 1px 1px rgba(255,255,255, .1), 0px 1px 3px rgba(0,0,0, .1);color:#feffff;text-shadow:0px 1px 0px rgba(0,0,0, .5)}
.page.dark:hover,.page.dark.gradient:hover{background:-moz-linear-gradient(0% 0% 270deg,#547085, #3d4f5d)}
.page.dark.active{border:none;background:#2f3237;box-shadow:inset 0px 0px 8px rgba(0,0,0, .5), 0px 1px 0px rgba(255,255,255, .1)}
.page.dark.gradient{background:-moz-linear-gradient(0% 0% 270deg,#565b5f, #3e4347)}

/* Iframe body Style */
.i4nCMS #mainContentIframe { min-height:500px;width:98%; margin:20px 0 0 1%; }

/*disabled behavior border on click*/
a { outline:0; }
*::-moz-focus-inner { 
  border: 0; 
}
