/* 404 style  */

body {background:url(../texture_bg.png) repeat scroll 0 0 #4F3535;font-family: 'Open Sans','Lucida Sans Unicode','Lucida Grande',sans-serif; line-height: 1;  position: relative; -webkit-font-smoothing: antialiased;}
body, div, dl, dt, dd, ul, ol, li, pre, form, fieldset, p, blockquote, th, td {color: #909090;font-size: 12px; }
p {font-family: 'Open Sans','Lucida Sans Unicode','Lucida Grande',sans-serif; font-weight: normal; text-rendering: optimizeLegibility; margin-bottom:15px;line-height:18px}
a { color: #1E90FF; }
a { text-decoration: none;-webkit-transition: background-color 0.4s ease 0s, border 0s ease 0s, color 0.4s ease 0s, opacity 0.4s ease-in-out 0s; -moz-transition: background-color 0.4s ease 0s, border 0s ease 0s, color 0.4s ease 0s, opacity 0.4s ease-in-out 0s; -o-transition: background-color 0.4s ease 0s, border 0s ease 0s, color 0.4s ease 0s, opacity 0.4s ease-in-out 0s; transition: background-color 0.4s ease 0s, border 0s ease 0s, color 0.4s ease 0s, opacity 0.4s ease-in-out 0s;}
a:hover { color: #666; }
a:focus {  outline: none; }
form legend {background:none}
.maincontent{ padding:20px 0;}

.notfound_title{ text-align:center; font-weight:800; font-size:180px; margin:0px; color: #e5e5e5; text-shadow: 0 5px 0 #ccc, 0 6px 14px #999; }
.notfound_subtitle{text-align:center; margin-top:0px;}
.notfound_description{ text-align:center;}


