@import url('reset.css');

/* Start with core styles outside of a media query that apply to mobile and up */
/* Global typography and design elements, stacked containers */
a { text-decoration:none; }
a:hover { color:#A4ECF7; }
a:link { color:#19A4FF; }
*{ font-family: 'Ubuntu', Helvetica, san-serif; }
pre {background:#108B99;color:#D9F011;border:1px solid #E5E5E5;padding:8px;overflow:auto;font-weight:100;font-size:14px}
strike {color:#FF0000}

/* General Style */
body {
	min-height:100%;
	font-family: Arial, Helvetica, sans-serif;
}
#jdl-halaman { color:#E6E6FA;margin:0 10px; }
.menu_lang {text-align:center;width:200px;margin:10px auto;height:30px}

/* THESE ARE JUST EXAMPLE STYLES BELOW */
#profile {
	border-bottom: 1px solid #242A37;
	overflow: hidden;
	text-align:center;
}
#profile h2 { font-size:24px; font-family: Arial, Helvetica, sans-serif; margin: 7px auto; text-shadow:1px 1px 1px #7F7F7F; }
#profile a { text-decoration:none; }
span.cr {
	color:#990000;
}
span.cb {
	color:#000000;
	font-size:12px;
    margin-left:3px;
}

#main_page { min-height: 100%; background: #FEFEFE; }
img { height:auto; max-width:100%; border:none; background:none; }

.clr{
	clear:both;
}

h3{
	margin:5px;
	text-align:center;
	color:#5E93C7;
	font-family: 'Trebuchet MS', 'Myriad Pro', Arial, sans-serif;
	text-shadow:1px 1px 1px #7C8189;
	padding-bottom:10px;
	line-height:30px;
}
h3 span{
	font-size:10px;
	display:block;
	letter-spacing:2px;
	font-family: 'Trebuchet MS', 'Myriad Pro', Arial, sans-serif;
	color:#197B89;
	line-height:14px;
	padding-top:10px;
	text-shadow:none;
	text-transform:uppercase;
}
/* item menu. */
ul#mnweb li {padding:5px;}
ul#mnweb li:after {padding-left:0;}
ul#mnweb a {font-weight:normal;}

#kat-konten a { font-weight:normal }

/* Adjust the width of the left reveal menu. */
.ui-content { min-height: 1150px;padding-bottom:50px; }

#cms-page #left-panel.ui-panel {
	width: 15em;
}
#cms-page #left-panel.ui-panel-closed {
	width: 0;
}
#cms-page .ui-panel-page-content-position-left,
.ui-panel-dismiss-open.ui-panel-dismiss-position-left {
	left: 15em;
	right: -15em;
}
#cms-page .ui-panel-animate.ui-panel-page-content-position-left.ui-panel-page-content-display-reveal {
	left: 0;
	right: 0;
	-webkit-transform: translate3d(15em,0,0);
	-moz-transform: translate3d(15em,0,0);
	transform: translate3d(15em,0,0);
}

/* Listview with collapsible list items. */
.ui-listview > li .ui-collapsible-heading {
  margin: 0;
}
.ui-collapsible.ui-li-static {
  padding: 0;
  border: none !important;
}
.ui-collapsible + .ui-collapsible > .ui-collapsible-heading > .ui-btn {
  border-top: none !important;
}
/* Nested list button colors */
.ui-listview .ui-listview .ui-btn {
	background: #fff;
}
.ui-listview .ui-listview .ui-btn:hover {
	background: #f5f5f5;
}
.ui-listview .ui-listview .ui-btn:active {
	background: #f1f1f1;
}

/* Reveal panel shadow on top of the listview menu (only to be used if you don't use fixed toolbars) */
#cms-page .ui-panel-display-reveal {
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}
#cms-page .ui-panel-page-content-position-left {
	-webkit-box-shadow: -5px 0px 5px rgba(0,0,0,.15);
	-moz-box-shadow: -5px 0px 5px rgba(0,0,0,.15);
	box-shadow: -5px 0px 5px rgba(0,0,0,.15);
}

/* Setting a custom background image. */
#cms-page.ui-page-theme-a,
#cms-page .ui-panel-wrapper {
	background-color: #fff;
	background-image: url(../_assets/img/bg-pattern.png);
	background-repeat: repeat-x;
	background-position: left bottom;
}

/* Styling of the page contents */
.article p {
	margin: 0 0 1em;
	line-height: 1.5;
}
.article p img {
	max-width: 100%;
}
.article p:first-child {
	text-align: center;
}
.article small {
	display: block;
	font-size: 75%;
	color: #c0c0c0;
}
.article p:last-child {
	text-align: right;
}
.article a.ui-btn {
	margin-right: 2em;
}


/* Pagination */
.pagination {
    background: #1C7DDB;
    padding: 5px;
    margin-bottom: 20px;
    border: solid 1px #c0c0c0;
    border-radius: 3px;
    box-shadow: inset 0px 0px 8px rgba(0,0,0, .5), 0px 1px 0px rgba(255,255,255, .8);
    /*width:653px;*/
}

.pagination a { text-decoration:none; color: #717171; padding: 7px; }

.page.gradient {
    display: inline-block;
    padding: 7px;
    margin-right: 4px;
    border-radius: 3px;
    border: solid 1px #c0c0c0;
    background: #e9e9e9;
    box-shadow: inset 0px 1px 0px rgba(255,255,255, .8), 0px 1px 3px rgba(0,0,0, .1);
    font-size: 10pt;
    font-weight: bold;
    text-decoration: none;
    color: #717171;
    text-shadow: 0px 1px 0px rgba(255,255,255, 1);
}

.page:hover, .page.gradient:hover {
    background: #fefefe;
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#FEFEFE), to(#f0f0f0));
    background: -moz-linear-gradient(0% 0% 270deg,#FEFEFE, #f0f0f0);
}

.page.gradient.active {
    border: 1px solid #616161;
    background: #616161;
    box-shadow: inset 0px 0px 8px rgba(0,0,0, .5), 0px 1px 0px rgba(255,255,255, .8);
    color: #f0f0f0;
    text-shadow: 0px 0px 3px rgba(0,0,0, .5);
    min-width:23px;
    text-align:center;
}

.page.gradient {
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#f8f8f8), to(#e9e9e9));
    background: -moz-linear-gradient(0% 0% 270deg,#f8f8f8, #e9e9e9);
}

.pagination.dark {
    background: #414449;
    color: #feffff;
}

.page.dark {
    border: solid 1px #32373b;
    background: #3e4347;
    box-shadow: inset 0px 1px 1px rgba(255,255,255, .1), 0px 1px 3px rgba(0,0,0, .1);
    color: #feffff;
    text-shadow: 0px 1px 0px rgba(0,0,0, .5);
}

.page.dark:hover, .page.dark.gradient:hover {
    background: #3d4f5d;
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#547085), to(#3d4f5d));
    background: -moz-linear-gradient(0% 0% 270deg,#547085, #3d4f5d);
}

.page.dark.active {
    border: none;
    background: #2f3237;
    box-shadow: inset 0px 0px 8px rgba(0,0,0, .5), 0px 1px 0px rgba(255,255,255, .1);
}

.page.dark.gradient {
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#565b5f), to(#3e4347));
    background: -moz-linear-gradient(0% 0% 270deg,#565b5f, #3e4347);
}

/* Stack the two content containers */
.main,
.sidebar { display:block; width:100%; }

@media all and (min-width:769px) {
	.article {
		max-width: 994px;
		margin: 0 auto;
		padding-top: 4em;
		-webkit-column-count: 2;
		-moz-column-count: 2;
		column-count: 2;
		-webkit-column-gap: 2em;
		-moz-column-gap: 2em;
		column-gap: 2em;
	}
	/* Fix for issue with buttons and form elements
	if CSS columns are used on a page with a panel. */
	.article a.ui-btn {
		-webkit-transform: translate3d(0,0,0);
	}
}

/* First breakpoint at 576px */
/* Inherits mobile styles, but floats containers to make columns */
@media all and (min-width: 36em){
	.main { float: left; width:60%; }
	.sidebar { float: left; width:40%; }
}

/* Second breakpoint at 800px */
/* Adjusts column proportions, tweaks base H1 */
@media all and (min-width: 50em){
	.main { width:70%; }
	.sidebar { width:30%; }

	/* You can also tweak any other styles in a breakpoint */
	H1 { color: #C0C0C0; font-size:1.2em }
}


/* Second breakpoint is 63.75em (1020px). 4 column layout. Tiles will be 250x250 pixels incl. margin again at the breakpoint. */
@media ( min-width: 63.75em ) {
    .album .ui-content {
        padding: .625em; /* 10px */
    }
    /* Set a max-width for the last breakpoint to prevent too much stretching on large screens.
    By setting the max-width equal to the breakpoint width minus padding we keep square tiles. */
    .album .ui-listview {
        max-width: 62.5em; /* 1000px */
        margin: 0 auto;
    }
    /* Because of the 1000px max-width the width will always be 230px (and margin left/right 10px),
    but we stick to percentage values for demo purposes. */
    .album .ui-listview li {
        width: 23%;
        height: 130px;
        margin: .625em 1%;
    }
}
/* For this demo we used images with a size of 310x310 pixels. Just before the second breakpoint the images reach their max width: 1019px - 2 x 9px padding = 1001px x 30.9333% = ~310px */
