@import url('reset.css');

header {
    width:100%;
    margin: 0 auto;
    padding: 0;
    background:#AFAFB6;
    
    border: 1px solid #BFBFBF;
    -moz-box-shadow: 3px 0px 5px -2px #32394A;
    -webkit-box-shadow: 3px 0px 5px -2px #32394A;
    box-shadow: 3px 0px 5px -2px #32394A;
    z-index:55555;
}
#profile {
    background:transparent;
    border-bottom: 1px solid #7F7F7F;
    
    position:relative;
    text-align:right;
}
#profile h2 {  font-size:24px; font-family: Arial, Helvetica, sans-serif; margin: 12px auto; margin-right:5px; text-shadow:1px 1px 1px #A52A2A; }
#profile a { text-decoration:none; }
span.cr {
    color:#990000;
}
span.cb {
    color:#000000;
    font-size:12px;
    margin-left:3px;
}
.clr{
	clear:both;
}
#dl-menu { position: absolute; top:3px; left:8px; z-index:66666;}
#dl-menu button { 
    -moz-box-shadow: 3px 2px 5px -2px #32394A;
    -webkit-box-shadow: 3px 2px 5px -2px #32394A;
    box-shadow: 3px 2px 5px -2px #32394A;
}
/* Menu-BG */
.dl-menuwrapper button {
background: #A52A2A;
}
.dl-menuwrapper button:hover, .dl-menuwrapper button.dl-active, .dl-menuwrapper ul {
background: #AE3030;
}
section,
footer {
    margin: 20px 5px;
}
section { font-size:12px; color:#4D4D4D; }
#main_page { min-height: 100%; margin-top:65px; padding:10px; background: #FEFEFE; }
footer { background:#B0AEAE; text-align:center; padding:5px; }

.wrap-isi {  font-size:12px; color:#1A1A1A; font-family: 'Trebuchet MS', 'Myriad Pro', Arial, sans-serif; }
.wrap-isi h2 { margin-top:35px; text-align:center; }
img { height:auto; max-width:100%; border:none; background:none; }
h3{
    margin:10px auto;
    font-size:24px;
    text-align:center;
    color:#195F89;
    font-family:"Pacifico", Georgia, "Times New Roman", serif;
    text-shadow:1px 1px 1px #7F7F7F;
    padding-bottom:10px;
    line-height:30px;
}
h3 span{
    font-size:10px;
    display:block;
    letter-spacing:2px;
    font-family: 'Trebuchet MS', 'Myriad Pro', Arial, sans-serif;
    color:#17284C;
    line-height:14px;
    padding-top:10px;
    text-shadow:none;
    text-transform:uppercase;
}        

/*disabled behavior border on click*/
a { outline:0; }
*::-moz-focus-inner { 
  border: 0; 
}
a { text-decoration:none;color:#19A4FF; }
a:hover { color:#4B59E6; }
a:link { color:#19A4FF; }

.menu_lang { text-align:center;margin-top:-15px;margin-bottom:5px; }
.menu_lang a { color:#FF2100 }


/* Pagination */
.pagination {
    background: #1C7DDB;
    padding: 5px;
    margin-bottom: 20px;
    border: solid 1px #c0c0c0;
    border-radius: 3px;
    box-shadow: inset 0px 0px 8px rgba(0,0,0, .5), 0px 1px 0px rgba(255,255,255, .8);
    /*width:653px;*/
}

.pagination a { text-decoration:none; color: #717171; padding: 7px; }

.page.gradient {
    display: inline-block;
    padding: 7px;
    margin-right: 4px;
    border-radius: 3px;
    border: solid 1px #c0c0c0;
    background: #e9e9e9;
    box-shadow: inset 0px 1px 0px rgba(255,255,255, .8), 0px 1px 3px rgba(0,0,0, .1);
    font-size: 10pt;
    font-weight: bold;
    text-decoration: none;
    color: #717171;
    text-shadow: 0px 1px 0px rgba(255,255,255, 1);
}

.page:hover, .page.gradient:hover {
    background: #fefefe;
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#FEFEFE), to(#f0f0f0));
    background: -moz-linear-gradient(0% 0% 270deg,#FEFEFE, #f0f0f0);
}

.page.gradient.active {
    border: 1px solid #616161;
    background: #616161;
    box-shadow: inset 0px 0px 8px rgba(0,0,0, .5), 0px 1px 0px rgba(255,255,255, .8);
    color: #f0f0f0;
    text-shadow: 0px 0px 3px rgba(0,0,0, .5);
    min-width:40px;
    text-align:center;
}

.page.gradient {
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#f8f8f8), to(#e9e9e9));
    background: -moz-linear-gradient(0% 0% 270deg,#f8f8f8, #e9e9e9);
}

.pagination.dark {
    background: #414449;
    color: #feffff;
}

.page.dark {
    border: solid 1px #32373b;
    background: #3e4347;
    box-shadow: inset 0px 1px 1px rgba(255,255,255, .1), 0px 1px 3px rgba(0,0,0, .1);
    color: #feffff;
    text-shadow: 0px 1px 0px rgba(0,0,0, .5);
}

.page.dark:hover, .page.dark.gradient:hover {
    background: #3d4f5d;
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#547085), to(#3d4f5d));
    background: -moz-linear-gradient(0% 0% 270deg,#547085, #3d4f5d);
}

.page.dark.active {
    border: none;
    background: #2f3237;
    box-shadow: inset 0px 0px 8px rgba(0,0,0, .5), 0px 1px 0px rgba(255,255,255, .1);
}

.page.dark.gradient {
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#565b5f), to(#3e4347));
    background: -moz-linear-gradient(0% 0% 270deg,#565b5f, #3e4347);
}

#updateBelanja {
    margin-top:20px;
    font-size:12px;
}
#updateBelanja fieldset {
    padding:10px;
    margin-bottom:20px;
}
#updateBelanja legend {
    padding: 3px 5px;
    font-size:12px;
}
#updateBelanja input[type="text"] {
    height:20px;
    padding:3px;
    margin-top:5px;
    width:20px;
    border-radius:4px;
    -moz-border-radius:4px;
    -webkit-border-radius:4px;
}
#updateBelanja button {
    background:#6F88CF; 
    font-size:12px;
    color:#fff;
    cursor:pointer;
    padding:5px 10px;
    margin-top:20px;
    border-color:#BFBFBF;
    border-radius:8px;
    -moz-border-radius:8px;
    -webkit-border-radius:8px;
    opacity:0.7;
}
#updateBelanja button:hover {
    opacity:1;
}
#updateBelanja button#updateKeranjang {
    float:left;
}
#updateBelanja button#prosesPesan {
    float:right;
}


#pesan {
    display:block;
    margin:20px auto;
    font-size:12px;
}
#pesan fieldset {
    padding:10px;
}
#pesan legend {
    padding: 3px 5px;
    font-size:12px;
}
#pesan label {
    float:left;
    display:block;
    padding-top:5px;
    line-height: 15px;
    width:150px;
    height:40px;
    color:#2D2D2D;
}
#pesan span.small{
    font-size:9px;
    color:#6D6D6D;
}
#pesan input[type="text"] {
    float:left;
    height:34px;
    padding:5px;
    width:80%;
    font-size:14px;
}
#pesan label.lbl_small {
    width:130px;
}
#pesan input[type="text"].input_small {
    float:left;
    height:34px;
    padding:5px;
    width:80px;
}
#pesan select {
    float:left;
    height:34px;
    font-size:14px;
    padding-top:3px;
    width:150px;
}
#pesan select#provinsi {
    width:200px;
}
#pesan select#wilayah {
    width:190px;
}
#pesan textarea {
    float:left;
    height:110px;
    padding:5px;
    width:80%; 
}
#pesan button {
    background:#6F88CF; 
    color:#fff;
    font-size:12px;
    cursor:pointer;
    padding:5px 10px;
    margin-top:20px;
    border-color:#BFBFBF;
    border-radius:8px;
    -moz-border-radius:8px;
    -webkit-border-radius:8px;
    opacity:0.7;
}
#pesan button:hover {
    opacity:1;
}
#pesan button#listKeranjang{
    float:left;
}
#pesan button#bayarSekarang{
    float:right;
}
.errors {
    clear:left;
    text-align:right;
    color:#FF3366;
    font-size:10px;
    padding:0;
    margin-top:5px;
    border-bottom:1px solid #FF3366;
}
.clft {
    clear:left;
    margin-bottom:20px;
}

#pembayaran {
    display:block;
    margin:20px auto;
    font-size:12px;
}
#pembayaran fieldset {
    padding:10px;
}
#pembayaran textarea {
    height:110px;
    padding:5px;
    width:500px;
    border:none;  
}
#pembayaran button {
    background:#6F88CF; 
    color:#fff;
    font-size:12px;
    cursor:pointer;
    padding:5px 10px;
    margin-top:20px;
    border-color:#BFBFBF;
    border-radius:8px;
    -moz-border-radius:8px;
    -webkit-border-radius:8px;
    opacity:0.7;
}
#pembayaran button{
    float:right;
}
#pembayaran button:hover {
    opacity:1;
}
#metodeBayar { font-size:12px }
.logo-bayar { width: 180px;height:180px;float:left;text-align:center;padding:10px;margin-right:10px; }
#box-opsi .opsi { display:none; padding-top:20px; }
#box-notes { clear:left; padding-top:20px; }

.errors {
    text-align:right;
    color:#FF3366;
    font-size:10px;
    padding:0;
    margin-top:5px;
    border-bottom:1px solid #FF3366;
}
#info-belanja-box .info {font-size:10px;margin-top:2px;padding:2px;text-align:center;border:1px solid #63EE00;background:#FFEF7F}
#info-bayar-box .info {font-size:11px;margin-top:2px;padding:2px;text-align:center;border:1px solid #63EE00;background:#FFEF7F}
/* Mics */
.mr20 { margin-right: 20px }
#pesan label.ml40-wd130 { margin-left:40px;width:130px; }

.ui-tooltip {
    font-size:10px;
    background:#362C2C;
    color:#E6E6FA;
}
table.gridtable {
	font-family: verdana,arial,sans-serif;
	font-size:11px;
	color:#333333;
	border-width: 1px;
	border-color: #666666;
	border-collapse: collapse;
}
table.gridtable th {
	border-width: 1px;
	padding: 8px;
	border-style: solid;
	border-color: #F3F3F3;
	background-color: #CDD3F2;
	font-weight:bold;
	color: #213759;
}
table.gridtable td {
	border-width: 1px;
	padding: 8px;
	border-style: solid;
	border-color: #F3F3F3;
	color: #275EB3;
}
table.gridtable tr.satu {
	background-color: #CAF0F5;
}
table.gridtable tr.dua {
	background-color: #CDE7F2;
}
table.gridtable tr.tiga {
	background-color: #7EDBF2;
	font-size:14px;
}
table.gridtable tr.empat {
	background-color: #0CE6EF;
}

.grid_12 {
 width:100%;
}
.grid_4{
 width:32.7%;
 float:left;
 padding:3px
}
